@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(243 244 246);
  --foreground: #171717;
}

body {
  background:rgb(243 244 246);
  font-family: 'Kanit' ,sans-serif;
}
.leaflet-container {
  z-index: 0;
  /* ให้ Map อยู่ด้านล่างสุด */
}